<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/Static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Static/style.css">
    <link rel="icon" type="image/png" href="/Static/img/logo.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <title>Niveis Gov</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
             <img src="/Static/img/Logo.svg" alt="" style="width: 150px;">

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Sobre</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link">Contato</a>
                  </li>
                </ul>
                <form class="d-flex">
                  <button class="btn btn-success" type="submit">Login</button>
                </form>
              </div>
            </div>
          </nav>
    </header>

    <main>
        <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                    <div class="col-xs-6">
                        <h1 class="title-principal">Seja o </br> Melhor</h1>
                        <p>Crie a sua conta e avançe para um outro nivel com os</br> melhores profissionais.</p>
                    </div>

                    <div class="col-xs-6">
                        <img src="/Static/img/Woman.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>

    </footer>

    <script src="https://kit.fontawesome.com/a07d05399.js"></script>
    <script src="/Static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/Static/fontawesome-free-6.2.0-web/js/brands.js"></script>
    <script src="/Static/fontawesome-free-6.2.0-web/js/solid.js"></script>
    <script src="/Static/fontawesome-free-6.2.0-web/js/fontawesome.js"></script>
    <script src="/Static/script.js"></script>
</body>
</html>